  .product-image {
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
        .order-summary, .payment-form {
            background-color: #f8f9fa;
            border-radius: 8px;
            padding: 2rem;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
        }

        .col{
            color: burlywood;
            border: 2px solid rgb(0, 0, 0);  
        }
        .card:hover {
            transition: all 0.3s ease;
            box-shadow: 0 8px 20px rgba(0,0,0,0.15);
            transform: translateY(-5px);
        } 
